@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

* {
  font-family: 'Roboto';
}

body {
    background-color: #e5e5e5;
}

td {
    height: 80px;
    width: 80px;
}

img {
    display: block;
    height: 80px;
}


tr:nth-child(even) td:nth-child(even){
  background-color: #ccd5ae;
}

tr:nth-child(odd) td:nth-child(odd) {
  background-color: #ccd5ae;
}

tr:nth-child(odd) td:nth-child(even) {
  background-color: #fefae0;  
}

tr:nth-child(even) td:nth-child(odd) {
  background-color: #fefae0;
}

td:hover {
  box-shadow: 0 0 10px #000000;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, a:focus{
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0 0 10px black, 0 0 15px #ffffff;
}

#back {
  position: absolute;
  bottom: 10px;

}