@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
    font-size: 22px;
    margin: 0
}

body {
    background-color: #0066b3;
}

fieldset {
    width: 50%;
    margin: auto;
}

legend  {
    color: white;
}

p {
    color: white;
}

h1 {
    font-size: 2rem;
    color: white;
}

table {
    width: 100%;
    margin: auto;
}

.alignElement {
    position: relative;
    left: 10%
}

textarea {
    width: 100%;
}

#qualification {
    width: 100%;
    height: 50px
}

.inputArea {
    width: 260px
}

td {
    height: 75px;
}

#imageUpload p {
    font-size: 16px;
}

#imageBut {
    color: white;
}

/* #imageUpBUt {
    height: 200px;
    width: 200px;
} */

a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus{
    font-size: 18px;
    text-decoration: none;
    text-shadow: 0 0 10px #274dc9, 0 0 15px #ffffff;
}
